# Default values for riot-web.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: vectorim/riot-web
  tag: v1.5.12
  pullPolicy: IfNotPresent

config:
  default_server_config:
   m.homeserver:
     base_url: "http://synapse:8008"
     server_name: "my.riot.im"
   m.identity_server:
     base_url: "https://vector.im"
  default_server_name: "matrix.org"
  disable_custom_urls: false
  disable_guests: false
  disable_login_language_selector: false
  disable_3pid_login: false
  brand: Riot
  integrations_ui_url: https://scalar.vector.im/
  integrations_rest_url: https://scalar.vector.im/api
  integrations_widgets_urls:
    - https://scalar.vector.im/_matrix/integrations/v1
    - https://scalar.vector.im/api
    - https://scalar-staging.vector.im/_matrix/integrations/v1
    - https://scalar-staging.vector.im/api
    - https://scalar-staging.riot.im/scalar/api
  integrations_jitsi_widget_url: https://scalar.vector.im/api/widgets/jitsi.html
  bug_report_endpoint_url: https://riot.im/bugreports/submit
  defaultCountryCode: GB
  showLabsSettings: false
  features:
    feature_pinning: labs
    feature_custom_status: labs
    feature_custom_tags: labs
    feature_state_counters: labs
  default_federate: true
  default_theme: light
  roomDirectory:
    servers:
      - matrix.org
  welcomeUserId: "@riot-bot:matrix.org"
  piwik:
    url: https://piwik.riot.im/
    whitelistedHSUrls:
      - https://matrix.org
    whitelistedISUrls:
      - https://vector.im
      - https://matrix.org
    siteId: 1
  enable_presence_by_hs_url:
    https://matrix.org: false
    https://matrix-client.matrix.org: false
  settingDefaults:
    breadcrumbs: true

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
